@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Inter', Arial, system-ui, -apple-system, Ubuntu, Helvetica,
        sans-serif;
}
